form {
  text-align: right;
}

input {
  border: 1px solid rgba(255, 105, 180, 0.692);
}

.form-label {
  margin-right: 15px;
  font-size: calc(8px + 1vmin);
  color: rgba(212, 94, 153, 0.692);
}

.form-label:hover {
  font-size: calc(10px + 1vmin);
}

.search-box {
  margin-right: 10px;
  margin-bottom: 15px;
}

.search-box:focus {
  outline: 3px solid rgb(213, 236, 213);
}

input::placeholder {
  text-align: center;
}
